* {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    background-size: 64px 128px;
}
.bar:hover{
    fill:#93999f;
}
#tooltip{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 70px;
    padding: 0 5px;
    font: 12px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
}
svg {
    border: 2px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 20px 0;
}